# --- ROS 2 Build Artifacts ---
build/
install/
log/
workspace/recordings/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.venv/
venv/
ENV/

# --- VS Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- C++ (If any hybrid packages exist) ---
*.swp
*.o
*.so
sensors_documentation/A50_A125 - Water Linked Documentation.md
sensors_documentation/Bar High-Resolution Depth_Pressure Sensors.md
sensors_documentation/Bar30.md
sensors_documentation/Integration overview - Water Linked Documentation.md
sensors_documentation/T200 Thruster_ ROV thruster for marine robotics propulsion.md
sensors_documentation/VN-100-Datasheet-2020 (2).md
sensors_documentation/Datasheet-DVLA50-Screen-RGB-v4 (1).md
